*, *::before, *::after{
	box-sizing: border-box;
}
.ancho{
	max-width: 1200px;
	margin: auto;
}
:root{
	--colorAma: #ffb84e;
	--colorBl:  #fff;
	--colorCC:  #333;
	--colorAz:  #0d2e49;
	--colorBlk: #000;
}
h1,h2{
	font-family: 'Roboto', sans-serif;
	color: var(--colorBl);
}
/* codigo prealoader */
.hidden{
	overflow: hidden;
}
.preloader{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--colorAz);
}
/* codigo prealoader */
/* parrallax */
.box{
	width: 100%;
	height: 100vh;
}
.parrallax{
	background: var(--colorBl) fixed no-repeat 50% 50%;
	background-size: cover;
}
#secc01{
	background-image: url('../img/ia01.jpg');
}
#secc02{
	background-image: url('../img/micael.jpg');
	height: 100%;
}
#secc03{
	background-image: url('../img/Cover-IA.png');
}
/* header */
header nav{
	display: flex;
	justify-content: space-between;
	padding-top: 3em;
	margin:auto;
	width: 90%;
}
/* header logo */
header nav figure{
	margin: 0;
	padding: 0;
	width: 15em;
	display: flex;
}
header nav figure img{
	width: 100%;
}
/* header menu */
header nav .menu{
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;s
}
header nav .menu li{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	list-style: none;
}
header nav .menu li a{
	padding: 6px 30px;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 1px black;
	display: inline-block;
}
header nav .menu #home{
	border: 2px var(--colorAma) solid;
}
/* efecto hover botones menu */
header nav .menu .btnMenu{
	margin-left: 2px;
	position: relative;
}
header nav .menu .btnMenu:before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--colorAma);
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
}
header nav .menu .btnMenu:hover:before {
  width: 100%;
}
header nav .menu .btnMenu:before {
  left: 50%;
}
header nav .menu .btnMenu:hover:before {
  left: 0;
}
/* titulo principal */
header h1{
	margin: 100px 0 0 100px;
	font-size: 55px;
}
header p{
	padding: 100px 500px 0 100px;
	font-size: 20px;
	color: #cc8800;
}
/* contenido about us */
.aboutUs{
	/* caja padre del about us */
}
.welcome span{
	margin: 3em 0 0 0;
	padding: 0;
	display: block;
	text-align: center;
	color: var(--colorAma);
	font-weight: bold;
}
.welcome h2{
	text-align: center;
	margin:0;
	padding: 0;
	color: var(--colorCC);
	font-weight: bold;
	font-size: 40px;
}
.welcome hr{
	width: 10%;
	border: 1px var(--colorCC) solid;
}
.welcome p{
	text-align: center;
	color: var(--colorAz);
	margin-bottom: 2em;
}
.boxAbout{
	display: flex;
	margin-bottom: 3em;
	transition: all .1s ease-in-out;
}
.boxAbout .iconBox{
	/* caja del icono */
}
.boxAbout i{
	font-size: 7em;
	color: var(--colorAma);
}
.boxAbout .textAbout{
	padding: 8px;
}
.boxAbout .textAbout h3{
	color: var(--colorBlk);
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
}
.boxAbout .textAbout p{
	color: var(--colorCC);
	text-align: center;
}
.boxAbout:hover i{
	transform: scale(1.06);
	color: var(--colorAz);
	transform: rotateZ(-7deg);
}

/* section news */
/* boxNews */
.contBoxes{
	/* border: 1px blue solid; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5em;
}
/* formato cajas */
.contBoxes .boxNews{
	/* border: 1px orange solid; */
	width: 22em;
	height: 22em;
	position: relative;
	overflow: hidden;
}
.contBoxes .boxNews .view{
	width: 22em;
	height: 22em;
}
.contBoxes .boxNews h2{
	/* border: 1px green solid; */
	color: var(--colorBl);
	font-size: 50px;
	font-weight: bold;
	text-shadow: 0px 0px 10px var(--colorAz);
	margin-top: 45%;
}
.contBoxes .bNColor{
	/* background-color: var(--colorBl); */
}
.contBoxes .boxNews .view figure{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
}
.contBoxes .boxNews .view figure img{
	height: 100%;
}
.contBoxes .boxNews  .shadow{
	background: rgba(255, 255, 255, 0.7);
	width: 100%;
	height: 40%;
	position: absolute;
	bottom: 0;
}
.contBoxes .boxNews  figure span{
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 24px;
	color: var(--colorAma);
	font-family: 'Oswald', sans-serif;
	z-index: 10;
}
/* contenido del preview de las noticias */
.contBoxes .boxNews  .titularNews{
	position: absolute;
	top: 60%;
}
.contBoxes .boxNews  h3{
	color: var(--colorAz);
	width: 90%;
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	border-bottom: 2px var(--colorAma) solid;
	margin-bottom: 1rem;
}
.contBoxes .boxNews  p{
	width: 90%;
	margin: auto;
	color: var(--negro);
	text-align: justify;
}
/* Contenido de toda la noticia */
.contBoxes .boxNews .allNew{
	background-color: var(--colorAma);
	height: 100%;
	position: absolute;
	top: -100%;
}
.contBoxes .boxNews .allNew p{
	color: var(--colorCC);
}
.contBoxes .boxNews .allNew .boxCompartir{
	display: flex;
	width: 90%;
	justify-content: center;
	align-items: flex-end;
	margin: 1.5rem auto;
}
.contBoxes .boxNews .allNew .boxCompartir .readMore{
	width: 6em;
}
.resetCBox{
	padding-top: 0;
}
/* efecto hover sobre noticias */
.bnHover{
	transition: all .5s ease-in-out;
}
.contBoxes .bnHover:hover{
	transform:rotateY(180deg);
}
.contBoxes .bnHover:hover .allNew{
	top: 0;
	transform: rotateY(180deg);
}
/* codigo banner */
.banner{
	background-color: var(--colorBl);
	height: 13em;
}
.banner img{
	margin-left: 70%;
}
/* carrusell */
.carousel{
	background-color: var(--colorCC);
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.interestBox{
	position: relative;
}
.interestBox img{
	filter: sepia(50%);
}
.interestBox .interest{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(5, 5, 5, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.interestBox .interest h2{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.interestBox .interest h3{
	/* border: 1px red solid; */
	font-weight: bold;
	color: var(--colorBl);
}
.interestBox .interest hr{
	width: 10%;
	border: 2px var(--colorBl) solid;
}
.interestBox .interest p{
	color: var(--colorBl);
	width: 50%;
	text-align: center;
	text-shadow: 1px 1px 1px var(--colorBlk);
}
.btn{
	background-color: var(--colorAma);
}




/* codigo del footer */
footer{
	background-color: var(--colorAz);
	height: 3em;
}
footer p{
	color: var(--colorBl);
	font-size: 20px;
	margin: 0;
	text-align: center;
	padding-top: 5px;
}
