### General ###
*.lock

_site
node_modules

### Sass ###
.sass-cache

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

### Hosting folders ###
.htaccess
DIS/
admin/
community/
certificates/2019/
certificates/2020/
covid19-assistant/
events/
software/
storage/