---
layout: default
title: Certificates
permalink: /certificates/
---

{% include top-section.html %}

<section class="container">
    <div class="row">
        <div id="app" class="col-md-8">
            <div class="card flex-md-row shadow">
                <img style="max-width: 100%" :src="img" />
                <!-- <div class="mb-1 text-muted">2018</div>
              <p class="card-text mb-auto">
                This is a wider card with supporting text below as a natural
                lead-in to additional content.
              </p>
              <span class="badge badge-dark">
                Internet of things
              </span> -->
            </div>
            
        </div>
        {% include announcement.html %}
    </div>
    <!-- /.row -->
</section>

<script>

    var config = {
        method: 'GET',
        mode: 'cors'
    };
    new Vue({
        el: '#app',
        data: {
            cert: null,
        },
        computed: {
            img() {
                return this.cert;
            }
        },
        created() {
            var urlParams = new URLSearchParams(window.location.search);
            fetch('https://aaaimx-admin.herokuapp.com/api/certificates/' + urlParams.get('id') + '/', config)
                .then((response) => {
                    if (response.status == 404) {
                        window.location = '404.html';
                    };
                    return response.json();
                })
                .then((data) => {
                    if (!data.published) window.location = '404.html';
                    this.cert = getImgUrl(data.file);
                });
        }
    })


</script>