<div class="col-md-4">
    <div class="card">
        <div class="card-content">
            <div style="text-align:center">
                <figure class="avatar">
                    <img src="/img/sprites/aaai-transpeps.png" width="128px" />
                </figure>
                <h4 class="title is-3">@aaaimx</h4>
                <h5 class="h5 text-muted">
                    Association for Advancement of Artificial Intelligence at
                    Yucatán, México
                </h5>
                <h5 class="h5">
                    Contributing to more students having knowledge of Artificial
                    Intelligence and other increasingly popular related fields
                </h5>
            </div>
        </div>
    </div>
    <div class="card message is-light">
        <h5 class="message-header">Support us</h5>
        <div class="card-body">
            <p class="card-text">
                We appreciate your interest in helping this community that strives every day to be
                better especially for you.
            </p>
            <br />
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="VPZGMW4MPWAYJ" />
                <input type="image" style="display: block; margin: 0 auto;"
                    src="https://www.paypalobjects.com/en_US/MX/i/btn/btn_donateCC_LG.gif" border="0"
                    name="submit" title="PayPal - The safer, easier way to pay online!"
                    alt="Donate with PayPal button" />
                <img alt border="0" src="https://www.paypal.com/en_MX/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>
    </div>
    {% include search-cert.html %}
</div>