<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<img class="img-responsive cc-img" width="50%"
				src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
		</div>
	</div>
	<div class="panel-body">
		<form role="form">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label>CARD NUMBER</label>
						<div class="input-group">
							<input type="tel" class="form-control" placeholder="Valid Card Number" />
							<span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7 col-md-7">
					<div class="form-group">
						<label><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span>
							DATE</label>
						<input type="tel" class="form-control" placeholder="MM / YY" />
					</div>
				</div>
				<div class="col-xs-5 col-md-5 pull-right">
					<div class="form-group">
						<label>CV CODE</label>
						<input type="tel" class="form-control" placeholder="CVC" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label>CARD OWNER</label>
						<input type="text" class="form-control" placeholder="Card Owner Names" />
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="address">ADDRESS</label>
						<input type="text" id="address" class="form-control" placeholder="Required" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 mb-3">
					<label for="country">Country</label>
					<select class="form-control d-block w-100 mt-2" id="country" required>
						<option value="">Country</option>
						<option>United States</option>
					</select>
					<div class="invalid-feedback">
						Please select a valid country.
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<label for="zip">ZIP</label>
					<select class="form-control d-block w-100 mt-2" id="state" required>
						<option value="">State</option>
						<option>California</option>
					</select>
					<div class="invalid-feedback">
						Please provide a valid state.
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="form-group md-outline mt-2 mb-0">
						<label for="zip">ZIP</label>

						<input type="text" id="zip" placeholder="Zip code required" class="form-control mb-0" required>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-success btn-lg btn-block">Process
					payment</button>
			</div>
		</div>
	</div>
</div>