<!-- Judges Section -->
<section id="judges" class="judges image-section parallax"
    style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.judgesImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-12">
            <h3>{{ site.judgesTitle }}</h3>
            <img class="loading" width="100px" src="/img/other/loader.gif" alt="">
            <div class="row align-items-center board members">
                <script class="board-template" type="text/x-custom-template">
                <div class="judge col col-md-6 col-xs-6 col-lg-4" data-animation="fadeInDown" data-delay="1800">
                    <div class="flow-img img-circle judge-img"
                        style="background-image: url([[thumbnailUrl]])">
                    </div>
                    <p class="name">[[name]] [[surname]]</p> <span class="company"></span> <span
                        class="title">[[charge]]</span>
                </div>
            </script>
            </div>
        </div>
    </div>
</section>
<!-- End Judges Section -->