<!-- Begin Location Section -->
<section id="location-map">
    <div class="content-wrapper">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3220.1334292434917!2d-89.66899778548616!3d21.013003986006936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5674891d01315f%3A0xcb8ba96b39a6031c!2sInstituto+Tecnol%C3%B3gico+de+M%C3%A9rida+Campus+Poniente!5e1!3m2!1sen!2sbg!4v1561779443994!5m2!1sen!2sbg"
                width="100%" height="380" frameborder="0" allowfullscreen="allowfullscreen"
                style="border: 0px;"></iframe>
        </div>
    </div>
</section>
<!-- End Location Section -->