<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-12">
			<div class="col-md-12 pricing-col pricing-col-featured animated visible" data-delay="0">
				<div class="pricing-ribbon">Ginda</div>
				<div class="pricing-header">
					<p class="title"><b>Membership</b></p>
					<p class="price"><img style="max-width: 50%; border-radius: 90%;" src="/img/other/tenor.gif" /></p>
					<p class="price"><img src="/img/other/expired.jpg" /></p>
				</div>
				[[ cert ]]
				<div class="pricing-content">
					<ul>
						<li>Raul Armin Novelo Cruz</li>
						<li><b>ID:</b> 31e3fc4a-d3eb-48fc-ab7a-278b57b9d85f</li>
						<li><b>Expires:</b> 29 Jun 2019</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Tickets Section -->