<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="firstName">NAME</label>

                    <input type="text" id="firstName" class="form-control" placeholder="Required" required>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="lastName">LASTNAME</label>

                    <input type="text" id="lastName" class="form-control" placeholder="Lastname is required" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label for="email">EMAIL</label>
                    <input type="email" id="email" class="form-control" placeholder="Valid Email">
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label for="phone">PHONE</label>
                    <input type="number" id="phone" class="form-control" placeholder="Valid Phone Number" required>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label for="adscription">ADSCRIPTION</label>
                    <input type="text" id="adscription" class="form-control" list="adscriptions" placeholder="Enter institute" required>
                </div>
            </div>
        </div>


    </div>
    <!-- <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-warning btn-lg btn-block">Process
                    register</button>
            </div>
        </div>
    </div> -->
</div>