<!-- Begin Blog-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-11 col-sm-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
            <h3>Recent publications</h3>
            <div class="col-md-7">
                <img class="loading" v-show="!research.length" width="100px" src="/img/other/loader.gif" alt="">
                <article v-for="r in research" v-show="r.authors.length"
                    class="row post card clearfix flex-md-row box-shadow h-md-250">
                    <strong :class="'d-inline-block mb-2 text-'+ badges[r.type]">[[r.type]]</strong>
                    <h5>[[r.title]]</h5>
                    <small>[[r.pub_type]] [[r.grade]] [[r.event]]</small>
                    <div class="post-header">
                        <div class="published col-md-12 col-xs-12 authors">
                            <span v-for="(author, i) in r.authors" class="publish-date" itemprop="datePublished">
                                <a v-if="author.active" :href="'/member/?id=' + author.member">
                                    [[author.surname]] [[author.name | shortName ]]. <sup>[[author.position]]</sup>
                                </a>
                                <template v-else>[[author.surname]] [[author.name | shortName ]].
                                    <sup>[[author.position]]</sup></template>
                                <template>[[ ++i === r.authors.length ? '' : ', ']]</template>
                            </span>

                        </div>

                    </div>
                    <br v-if="r.resume">
                    <p class="post-body">[[ r.resume ]]</p>
                    <!-- <p class="post-body">[[ r.resume ? r.resume.slice(0, 250) + '...' : '' ]]</p> -->
                    <a class="pull-right" v-show="r.link" :href="r.link">continue reading</a>
                    <!-- <span v-for="l in r.lines" class="badge badge-dark">[[ getTopic(l) ]]</span> -->
                </article>
                <button type="button" @click="nextPage(), getList()" class="btn btn-primary center-block">See
                    more</button>
                <!-- <div class="btn-group">
                    <button type="button" class="btn btn-warning">Type</button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Theses</a></li>
                        <li><a href="#">Presentations</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Projects</a></li>
                    </ul>
                </div> 
                <div class="btn-group text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active"><a href="#" >1</a></li>
                            <li><a href="#">2</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <br>
                <br>
                <br>
                <br>-->
                <!-- <div class="btn-group">
                    <button type="button" class="btn btn-success">Category</button>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a v-for="l in lines" :key="l.id" href="#">{{ l.topic }}</a>
                        </li>
                    </ul>
                </div> -->
            </div>
            <!-- <a href="#" title="[[urlTitle]]">
                <h5>[[title]]</h5>
            </a> -->
            <br>
            {% include social-research.html %}
        </div>
    </div>
</section>
<!-- End Blog -->

<style>
    .post-body {
        text-align: justify;
        text-justify: inter-word;

    }

    .published {
        margin-top: 2%;
    }
</style>

<script>
    var vue = new Vue({
        el: '#blog',
        data: {
            research: [],
            interest_areas: [],
            page: 1,
            offset: 0,
            badges: { Thesis: "primary", Presentation: "info", Article: "success" }
        },
        delimiters: ["[[", "]]"],
        filters: {
            shortName(name) {
                return name.split(' ')[0].slice(0, 1);
            }
        },
        computed: {
            lines(id) {
                return this.interest_areas
            }
        },
        methods: {
            getTopic(id) {
                try {
                    return this.interest_areas.filter(el => el.id == id);
                } catch (error) {
                    console.log(error);
                    return "";
                }
            },
            nextPage() {
                this.page++;
                this.offset += 10;
            },
            getList() {
                var url = 'https://aaaimx-admin.herokuapp.com/api/research/?offset=' + this.offset + '&page=' + this.page;
                fetch(url)
                    .then((response) => {
                        return response.json();
                    })
                    .then((research) => {
                        this.research.push(...research.results);
                    });
            },
        },
        created() {
            this.getList();
        }
    });

</script>