<div class="col-md-4 col-xs-12">
    <div class="card">
        <div class="card-content">
            <div style="text-align: center">
                <figure class="avatar">
                    <img src="/img/other/aaaimx-ist.png" width="128px" />
                </figure>
                <h5 class="title is-3">@aaaimx</h5>
                <h6 class="h6 text-muted">
                    Association for Advancement of Artificial Intelligence at
                    Yucatán México
                </h6>
                <h6 class="h6">
                    Contributing to more students having knowledge of Artificial
                    Intelligence and other increasingly popular related fields
                </h6>
            </div>
        </div>
        <!-- <br />
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">Research</div>
                <div class="h5">{{ research.count }}+</div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">Collaborators</div>
                <div class="h5">{{ members.count }}+</div>
            </li>
            <li class="list-group-item">In hoc signo vinces</li>
        </ul> -->
    </div>
    <!-- Side Widget -->
    <div class="card message is-light">
        <h5 class="message-header">Support us</h5>
        <div class="card-body">
            <p class="card-text">
                We appreciate your interest in helping this community that
                strives every day to be better especially for you.
            </p>
            <br />
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="VPZGMW4MPWAYJ" />
                <input type="image" style="display: block; margin: 0 auto;"
                    src="https://www.paypalobjects.com/en_US/MX/i/btn/btn_donateCC_LG.gif" border="0"
                    name="submit" title="PayPal - The safer, easier way to pay online!"
                    alt="Donate with PayPal button" />
                <img alt border="0" src="https://www.paypal.com/en_MX/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>
    </div>
    <div class="card message is-light my-4">
        <h5 class="message-header">Follow us now!</h5>
        <div class="card-body has-text-centered">
            <a target="_blank"
                href="https://www.facebook.com/AAAI-Student-Chapter-Yucat%C3%A1n-M%C3%A9xico-408189306626213/">
                <span style="background-color: #385898" class="badge badge-primary">
                    <i class="fa fa-facebook"></i>
                    Facebook
                </span>
            </a>
            <a href="https://twitter.com/aaaimxc">
                <span style="background-color: #3c8dbc" class="badge badge-info">
                    <i class="fa fa-twitter"></i> Twitter
                </span>
            </a>
            <a href="https://github.com/aaaimx" target="_blank">
                <span class="badge badge-dark">
                    <i class="fa fa-github"></i> Github
                </span>
            </a>
        </div>
    </div>
    <br>
    <iframe
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAAAI-Student-Chapter-Yucat%C3%A1n-M%C3%A9xico-408189306626213%2F&tabs=timeline&width=350&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=381870145766778"
        height="500" width="360" frameborder="0" allow="encrypted-media"></iframe>

    
</div>