---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div id="preloader" class="preloader">
        <div class="loader-gplus"></div>
    </div>

    <div id="st-container" class="st-container disable-scrolling">
        <div class="st-pusher">
            <div class="st-content">

                {{ content }}

                {% include footer.html %}

            </div>
        </div>
    </div>

    {% if page.modal != null %}
    {% include speakers-modals.html %}
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center text-muted">Payment Details</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="panel panel-default">
                            <!-- <div class="panel-heading">
                                <div class="row">
                                    <h4 class="mb-3"><strong>Billing address</strong></h4>
                                </div>
                            </div> -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="form-group">
                                            <label for="firstName">NAME</label>
        
                                            <input type="text" id="firstName" class="form-control" placeholder="Required"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="form-group">
                                            <label for="lastName">LASTNAME</label>
        
                                            <input type="text" id="lastName" class="form-control"
                                                placeholder="Lastname is required" required>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <div class="form-group">
                                            <label for="email">EMAIL</label>
                                            <input type="email" id="email" class="form-control" placeholder="Valid Email">
                                        </div>
                                    </div>
        
                                    <div class="col-md-12 mb-3">
                                        <div class="form-group">
                                            <label for="phone">PHONE</label>
                                            <input type="number" id="phone" class="form-control" placeholder="Valid Phone Number"
                                                required>
                                        </div>
                                    </div>
                                </div>
        
                                
                            </div>
                        </div>
                        <form class="needs-validation" novalidate>
                            
                            <hr class="mb-4">
    
                            <!-- <h4 class="mb-3"><strong>Payment</strong></h4> -->
    
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <img class="img-responsive cc-img"
                                                    src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <form role="form">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label>CARD NUMBER</label>
                                                            <div class="input-group">
                                                                <input type="tel" class="form-control"
                                                                    placeholder="Valid Card Number" />
                                                                <span class="input-group-addon"><span
                                                                        class="fa fa-credit-card"></span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-7 col-md-7">
                                                        <div class="form-group">
                                                            <label><span class="hidden-xs">EXPIRATION</span><span
                                                                    class="visible-xs-inline">EXP</span> DATE</label>
                                                            <input type="tel" class="form-control" placeholder="MM / YY" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-5 col-md-5 pull-right">
                                                        <div class="form-group">
                                                            <label>CV CODE</label>
                                                            <input type="tel" class="form-control" placeholder="CVC" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label>CARD OWNER</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Card Owner Names" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="address">ADDRESS</label>
                                                                <input type="text" id="address" class="form-control" placeholder="Required"
                                                                    required>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5 mb-3">
                                                        <select class="custom-select d-block w-100 mt-2" id="country" required>
                                                            <option value="">Country</option>
                                                            <option>United States</option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid country.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <select class="custom-select d-block w-100 mt-2" id="state" required>
                                                            <option value="">State</option>
                                                            <option>California</option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please provide a valid state.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group md-outline mt-2 mb-0">
                                                            <label for="zip">ZIP</label>
                
                                                            <input type="text" id="zip" placeholder="Zip code required" class="form-control mb-0" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <style>
                                .cc-img {
                                    margin: 0 auto;
                                }
                            </style>
                        </form>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-4 order-md-2 mb-4">
                            <h4 class="d-flex justify-content-between align-items-center mb-4-5">
                                <span class="text-muted"><strong>Your cart</strong></span>
                                <span class="badge badge-primary badge-pill">3</span>
                            </h4>
                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">Product name</h6>
                                        <small class="text-muted">Brief description</small>
                                    </div>
                                    <span class="text-muted">$12</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">Second product</h6>
                                        <small class="text-muted">Brief description</small>
                                    </div>
                                    <span class="text-muted">$8</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">Third item</h6>
                                        <small class="text-muted">Brief description</small>
                                    </div>
                                    <span class="text-muted">$5</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <div class="text-success">
                                        <h6 class="my-0">Promo code</h6>
                                        <small>EXAMPLECODE</small>
                                    </div>
                                    <span class="text-success">-$5</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Total (USD)</span>
                                    <strong>$20</strong>
                                </li>
                            </ul>

                            <form class="card p-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Promo code">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary btn-md my-0 ml-0">Redeem</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 order-md-1">
                            <h4 class="mb-3"><strong>Billing address</strong></h4>
                            <form class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="md-form md-outline my-2">
                                            <input type="text" id="firstName" class="form-control" required>
                                            <label for="firstName">First name</label>
                                        </div>
                                        <div class="invalid-feedback">
                                            Valid first name is required.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="md-form md-outline my-2">
                                            <input type="text" id="lastName" class="form-control" required>
                                            <label for="lastName">Last name</label>
                                        </div>
                                        <div class="invalid-feedback">
                                            Valid last name is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="md-form md-outline my-2">
                                        <input type="text" id="username" class="form-control" required>
                                        <label for="username">Username</label>
                                    </div>
                                    <div class="invalid-feedback">
                                        Your username is required.
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <div class="md-form md-outline my-2">
                                            <input type="email" id="email" class="form-control">
                                            <label for="email">Email (Optional)</label>
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter a valid email address for shipping updates.
                                        </div>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <div class="md-form md-outline my-2">
                                            <input type="text" id="address" class="form-control" required>
                                            <label for="address">Address</label>
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter your shipping address.
                                        </div>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <div class="md-form md-outline my-2">
                                            <input type="text" id="address2" class="form-control" required>
                                            <label for="address2">Address 2 (Optional)</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5 mb-3">
                                        <select class="custom-select d-block w-100 mt-2" id="country" required>
                                            <option value="">Country</option>
                                            <option>United States</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid country.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <select class="custom-select d-block w-100 mt-2" id="state" required>
                                            <option value="">State</option>
                                            <option>California</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="md-form md-outline mt-2 mb-0">
                                            <input type="text" id="zip" class="form-control mb-0" required>
                                            <label for="zip">Zip</label>
                                        </div>
                                        <div class="invalid-feedback">
                                            Zip code required.
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-4">
                                <div class="form-check pl-0">
                                    <input type="checkbox" class="form-check-input filled-in" id="same-address">
                                    <label class="form-check-label" for="same-address">Shipping address is the same as
                                        my billing address</label>
                                </div>
                                <div class="form-check pl-0">
                                    <input type="checkbox" class="form-check-input filled-in" id="save-info">
                                    <label class="form-check-label" for="save-info">Save this information for next
                                        time</label>
                                </div>

                                <hr class="mb-4">

                                <h4 class="mb-3"><strong>Payment</strong></h4>

                                <div class="d-block my-3">
                                    <div class="form-check pl-0">
                                        <input id="credit" name="paymentMethod" type="radio" class="form-check-input"
                                            checked required>
                                        <label class="form-check-label" for="credit">Credit card</label>
                                    </div>
                                    <div class="form-check pl-0">
                                        <input id="debit" name="paymentMethod" type="radio" class="form-check-input"
                                            required>
                                        <label class="form-check-label" for="debit">Debit card</label>
                                    </div>
                                    <div class="form-check pl-0">
                                        <input id="paypal" name="paymentMethod" type="radio" class="form-check-input"
                                            required>
                                        <label class="form-check-label" for="paypal">PayPal</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="md-form md-outline my-2">
                                            <input type="text" id="cc-name" class="form-control" required>
                                            <label for="cc-name">Name on card</label>
                                            <small class="text-muted">Full name as displayed on card</small>
                                        </div>
                                        <div class="invalid-feedback">
                                            Name on card is required
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="md-form md-outline my-2">
                                            <input type="text" id="cc-number" class="form-control" required>
                                            <label for="cc-number">Credit card number</label>
                                        </div>
                                        <div class="invalid-feedback">
                                            Credit card number is required
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 mb-2">
                                        <div class="md-form md-outline my-2">
                                            <input type="text" id="cc-expiration" class="form-control" required>
                                            <label for="cc-expiration">Expiration</label>
                                        </div>
                                        <div class="invalid-feedback">
                                            Expiration date required
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <div class="md-form md-outline my-2">
                                            <input type="text" id="cc-cvv" class="form-control" required>
                                            <label for="cc-cvv">CVV</label>
                                        </div>
                                        <div class="invalid-feedback">
                                            Security code required
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-4">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to
                                    checkout</button>
                            </form>
                        </div>
                    </div> -->
                    <!-- <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-3 control-label" for="card-holder-name">Name on Card</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="card-holder-name"
                                        id="card-holder-name" placeholder="Card Holder's Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-3 control-label" for="card-number">Card Number</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="card-number" id="card-number"
                                        placeholder="Debit/Credit Card Number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-lg-3 control-label" for="expiry-month">Expiration Date</label>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <select class="form-control col-lg-2" name="expiry-month" id="expiry-month">
                                            <option>Month</option>
                                            <option value="01">Jan (01)</option>
                                            <option value="02">Feb (02)</option>
                                            <option value="03">Mar (03)</option>
                                            <option value="04">Apr (04)</option>
                                            <option value="05">May (05)</option>
                                            <option value="06">June (06)</option>
                                            <option value="07">July (07)</option>
                                            <option value="08">Aug (08)</option>
                                            <option value="09">Sep (09)</option>
                                            <option value="10">Oct (10)</option>
                                            <option value="11">Nov (11)</option>
                                            <option value="12">Dec (12)</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                        <select class="form-control" name="expiry-year">
                                            <option value="13">2013</option>
                                            <option value="14">2014</option>
                                            <option value="15">2015</option>
                                            <option value="16">2016</option>
                                            <option value="17">2017</option>
                                            <option value="18">2018</option>
                                            <option value="19">2019</option>
                                            <option value="20">2020</option>
                                            <option value="21">2021</option>
                                            <option value="22">2022</option>
                                            <option value="23">2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="cvv">Card CVV</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-9">
                                <button type="button" class="btn btn-success">Pay Now</button>
                            </div>
                        </div>


                    </form> -->
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-warning btn-lg btn-block">Process
                                register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if page.permalink == '/schedule/' %}
    {% include sessions-modals.html %}
    {% endif %}

    {% include analytics.html %}
    {% include become-to-member.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}><\/script>')
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        if (typeof ($.fn.modal) === 'undefined') {
            document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}><\/script>')
        }
    </script>
    <script src="{{ "/js/default.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/messenger.js" | prepend: site.baseurl }}"></script>
    {% if page.permalink == '/' or page.permalink == '/hackathon/' %}
    <script>
        if ($(window).width() > 767) {
            document.write('<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"><\/script>')
        } 
    </script>
    {% elsif page.permalink == '/logistics/' %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places,geometry"></script>
    <script type="text/javascript">
        var autoDirectionEnabled = {% if site.logisticsMapAutoDirections %} true {% else %} false {% endif %};
    </script>
    {% endif %}
    <script>
        Waves.displayEffect();
        {% if page.permalink == '/' %}
        if ($(window).width() > 767) {
            var googleMaps = 'index',
                eventPlace = new google.maps.LatLng({{ site.eventPlaceCoordinates | replace: ' ', '' }}),
        centerMap = new google.maps.LatLng({{ site.mapCenterCoordinates | replace: ' ', '' }}),
            mobileCenterMap = new google.maps.LatLng({{ site.mapMobileCenterCoordinates | replace: ' ', '' }}),
            icon = '{{ site.baseurl }}/img/other/map-marker.svg';
            } else {
            var staticGoogleMaps = true,
                eventPlaceCoordinates = '{{ site.eventPlaceCoordinates | replace:' ','' }}',
                    centerMapCoordinates = '{{ site.mapCenterCoordinates | replace:' ','' }}',
                        mobileCenterMapCoordinates = '{{ site.mapMobileCenterCoordinates | replace:' ','' }}',
                            icon = '{{ site.baseurl | prepend: site.url }}/img/other/map-marker.png';
        }
        var twitterFeedUrl = '{{ site.twitterFeed }}';
        $(document).ready(function () {
            $(function () {
                if ($(window).width() > 767) {
                    $("#typeout-text").typed({
                        strings: [{{ site.typeoutTextValues }}],
                        typeSpeed: 150,
                        backDelay: 900,
                        loop: true
                        });
        }
                });
        var rockstarSpeakers = [
            {% for speaker in site.data.teamPen %}
        {% if speaker.committee %}
        { name: "{{ speaker.name }} {{ speaker.surname }}", company: "{{ speaker.charge }}", image: "{{ speaker.thumbnailUrl }}" } {% if forloop.index != forloop.length %}, {% endif %}
        {% endif %}
        {% endfor %}
                ];
        rockstarSpeakers.sort(function () { return 0.5 - Math.random() });
        if (rockstarSpeakers.length > 0) {
            var animationDelay = 1500,
                count = Math.min({{ site.rockstarSpeakersCount }}, rockstarSpeakers.length),
        colWidth = 12 / count;
        for (i = 0; i < count; i++) {
            var clearfix = '<div class="clearfix visible-xs"></div>';
            if ((i) % 2 != 0) {
                clearfix = ""
            }
            $('#rockstar-speaker-title').after('<div class="col-md-' + colWidth + ' col-xs-6 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="' + animationDelay + '"><div class="rockstar-speaker"><div class="flow-img img-circle rockstar-speaker-img" style="background-image: url(' + rockstarSpeakers[i].image + ')"></div><div class="name">' + rockstarSpeakers[i].name + '</div><div class="sub">' + rockstarSpeakers[i].company + '</div></div></div>' + clearfix);
            animationDelay -= 500;
        }
                }
            });
        {% elsif page.permalink == '/logistics/' %}
        var googleMaps = 'logistics',
            eventPlace = new google.maps.LatLng({{ site.eventPlaceCoordinates }}),
        centerMap = new google.maps.LatLng({{ site.logisticsMapCenterCoordinates }}),
            mobileCenterMap = new google.maps.LatLng({{ site.logisticsMapMobileCenterCoordinates }}),
            icon = '{{ site.baseurl }}/img/other/map-marker.svg';
        {% elsif page.permalink == '/hackathon/' %}
        if ($(window).width() > 767) {
            var googleMaps = 'hackathon',
                eventPlace = new google.maps.LatLng({{ site.hackathonPlaceCoordinates }}),
        centerMap = new google.maps.LatLng({{ site.hackathonMapCenterCoordinates }}),
            mobileCenterMap = new google.maps.LatLng({{ site.hackathonMapMobileCenterCoordinates }}),
            icon = '{{ site.baseurl }}/img/other/map-marker.svg';
            } else {
            var staticGoogleMaps = true,
                eventPlaceCoordinates = '{{ site.hackathonPlaceCoordinates | replace:' ','' }}',
                    centerMapCoordinates = '{{ site.hackathonMapCenterCoordinates | replace:' ','' }}',
                        mobileCenterMapCoordinates = '{{ site.hackathonMapMobileCenterCoordinates | replace:' ','' }}',
                            icon = '{{ site.baseurl | prepend: site.url }}/img/other/map-marker.png';
        }

        {% endif %} 
    </script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>
    {% if page.permalink == '/schedule/' %}
    <script type="text/javascript">
        $(document).ready(function () {
            var navHeight = $('#top-header').height();
            var headerHeight = $('.track-header').first().height();
            $('.stick-header').stick_in_parent({ sticky_class: 'sticky', offset_top: navHeight });
            $('.stick-label').stick_in_parent({ offset_top: navHeight + headerHeight });
        });
    </script>
    {% endif %}

    {% include schema-event.html %}

</body>

</html>